<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td,th
        {
            text-align:center;
            padding: 5px;
            border:rgb(255, 0, 0) solid 8px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgb(0, 0, 0);
        }
        th
        {
            border:rgb(42, 185, 23) solid 8px;  
        }
    </style>
</head>
<body>
    <center>
        <h1>Actor's Date of birth</h1>
        <table border="3px">
            <tr>
                <th>Actor Name</th>
                <th>Date Of Birth</th>
            </tr>
        {% for i in ADOB %}
            <tr>
                <td>{{i.actor_name}}</td>
                <td>{{i.date}}</td>
            </tr>
    
    
        {% endfor %}
        </table>
    </center>
</body>
</html>